/* Grid.css */
.board-container {
    display: grid;
    padding: 10px;    
  }
  
  .board-item {
    background-color: #ddd;
    border: 1px solid #333;
    padding: 5px;
    text-align: center;
    width: 64px;
    height: 64px;
    background-size: 100% 100%;
  }